<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Restaurant Adam sebuah platform yang menyediakan daftar restoran yang ada di indonesia guna memudahkan masyarakat yang ingin mencari restaruran">
    <meta name="theme-color" content="#ed9455"/>
    <title>Restaurant Apps</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  </head>
  <body>
    <a href="#maincontent" class="skip-link" tabindex="0">Skip To Content</a>
    <header class="header">
      <div class="header__inner">
        <img
          src="./images/Restaurant-Logo.png"
          class="header__title"
          alt="Logo Restaurant"
          tabindex="0" 
          crossorigin="anonymous"
        />
      </div>
      <button type="button" id="hamburgerButton" aria-label="navigation-menu" tabindex="0">☰</button>
      <nav id="navigationDrawer">
        <ul>
          <li tabindex="0"><a href="#">Beranda</a></li>
          <li tabindex="0"><a href="#/like">Favorit</a></li>
          <li tabindex="0"><a href="https://www.linkedin.com/in/adam-yusron-360500220/">Tentang Kami</a></li>
        </ul>
      </nav>
      </div>
    </header>
    <div class="hero" aria-label="hero">
      <div class="hero__inner" aria-label="hero2">
        <h1 class="hero__title" tabindex="0">
          Selamat Datang di Restoran Adam
        </h1>
        <p class="hero__tagline" tabindex="0">
          Temukan tempat makan di daerahmu dengan fasilitas yang akan memanjakan pengalamanmu
        </p>
      </div>
    </div>
    <main id="mainContent" tabindex="0">
      <!-- Content here -->
    </main>
    <footer aria-label="footer">
      <p tabindex="0">Copyright &copy; 2024 - Adam Yusron.</p>
    </footer>
  </body>
</html>